# Disable beep
xset -b

# Start compositor for fancy visual
picom -f &

# Unclutter - hide the mouse cursor
unclutter  --jitter 10 --ignore-scrolling --start-hidden --fork

# feh for wallpaper
feh --no-fehbg --bg-scale "$HOME/.config/qtile/images/wallpaper.png"

# Start qtile windown manager
qtile start
